/* Only comments */

input {
  width: 20rem;
  margin: 1.188rem 2.125rem 0 0;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
}

select {
  width: 15rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
}

.add__button:disabled {
  background-color: gray;
  opacity: 0.3;
}

.add__button:disabled:hover {
  opacity: 0.3;
}
